<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<form th:action="@{/form}" th:object="${afiliado}" method="POST">
		
		<label>Nombre</label>
		<input type="text" th:field="*{nombre}"/>
		
		<label>Apellido Paterno</label>
		<input type="text" th:field="*{nombre}"/>
		
		<label>Apellido Materno</label>
		<input type="text" th:field="*{nombre}"/>
		
		<label></label>
		<input type="text" th:field="*{nombre}"/>
		
		<label></label>
		<input type="text" th:field="*{nombre}"/>
		
		<label></label>
		<input type="text" th:field="*{nombre}"/>
	</form>
</body>
</html>