<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>

<section th:replace="components/menu :: seccionMenu"></section>

	<div class="container">
		<h2 th:text="${titulo}" class="text-primary"></h2>
		<p><a class="btn btn-success btn-xs" th:href="@{/afiliado/registrar}" th:text="Registrar"></a></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Nombre</td>
					<td>Sexo</td>
					<td>Curp</td>
					<td>Tel&eacute;fono celúlar</td>
					<td>Tel&eacute;fono fíjo</td>
					<td>Fecha nacimiento</td>
					<td>Fecha de registro</td>
					<td>Editar afiliado</td>
					<td>Elimina afiliador</td>

				</tr>
			</thead>

			<tbody>

				<tr th:each="afiliado: ${afiliados}">
					<td
						th:text="${afiliado.nombre} +' '+ ${afiliado.apellidoPaterno} +' '+ ${afiliado.apellidoMaterno}">
					</td>
					<td th:text="${afiliado.sexo}"></td>
					<td th:text="${afiliado.curp}"></td>
					<td th:text="${afiliado.telefonoCelular}"></td>
					<td th:text="${afiliado.telefonoFijo}"></td>
					<td th:text="${#dates.format(afiliado.fechaNacimiento,'dd-MM-yyyy')}"></td>
					<td th:text="${#dates.format(afiliado.fechaRegistro,'dd-MM-yyyy')}"></td>
					<td> <a class="btn btn-primary" th:href="@{/afiliado/editar/}+${afiliado.idAfiliado}"
							th:text="Editar"></a></td>
					<td> <a class="btn btn-danger" th:href="@{/afiliado/eliminar}" + "${afiliado.idAfiliado}"
							th:text="Eliminar"></a></td>
				<tr>

			</tbody>
		</table>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>

</html>